$DarkColor: #212121;
$AccentColor: #2196F3;
$PrimaryLight: #FFFFFF;
$PrimaryMiddle: #757575;
$BackgroundDark: #2F303A;
$BackgroundLight: #F5F4FA;
$TransparentLight: #FFFFFF99;
$SuperDark:#2F303ACC;
$GreyColor:#AFB1B8;
$FooterDark:#FFFFFF1A;

$Roboto: Roboto,
sans-serif;